header {
    background-color: rgb(28, 28, 28);
    padding: 10px 40px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(146, 255, 224);
    margin: 0 5px;
}

.credit {
    color: gray;
    font-size: 0.9em;
}

ul {
    list-style-type: none;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: white;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
    padding: 20px;
    background-color: rgb(28, 28, 28);
    width: 100%;
    box-sizing: border-box;
}

h1 {
    color:aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(146, 255, 224);
    margin: 0 5px;
}

input {
    display: flex;
    padding: auto;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
}

textarea {
    padding: auto;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
}

#about {
    background-color: rgb(36, 36, 36);
    padding: 20px 40px;
    margin: 20px;
    border-radius: 10px;
}

#skills {
    background-color: rgb(36, 36, 36);
    padding: 20px 40px;
    margin: 20px;
    border-radius: 10px;
}

.tools {
    display: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contact {
    background-color: rgb(36, 36, 36);
    padding: 20px 40px;
    margin: 20px;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto
}   

.contact-form .input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.credit {
    color: gray;
    font-size: 0.9em;
}

ul {
    list-style-type: none;
    padding: 0;
}
